{% extends 'base.html.twig' %}

{% block title %}SupOrga index{% endblock %}

{% block body %}
    <h1>SupOrga index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>WorkdayId</th>
                <th>Active</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sup_orga in sup_orgas %}
            <tr>
                <td>{{ sup_orga.id }}</td>
                <td>{{ sup_orga.name }}</td>
                <td>{{ sup_orga.workdayId }}</td>
                <td>{{ sup_orga.active ? 'Yes' : 'No' }}</td>
                <td>{{ sup_orga.createdAt ? sup_orga.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_sup_orga_show', {'id': sup_orga.id}) }}">show</a>
                    <a href="{{ path('app_sup_orga_edit', {'id': sup_orga.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sup_orga_new') }}">Create new</a>
{% endblock %}
